.def-pad, .footer-social {
    padding: 3%;
}

.footer-div {
    text-align: center;
    margin-bottom: 2%;
}

.up-to-date {
    color: green;
}

.past {
    color: red;
}

.img-sec {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 1%;
}

.img-sec img {
    max-height: 720px;
    max-width: 90%;
}