---
layout: default
title: "Edebiyat Yarışmaları | Edebiyat Ödülleri"
headline: "Güncel Edebiyat Yarışmaları ve Ödülleri"
next_page: /sayfa2/
---

<section class="p-2">
	<h1>{{page.headline}}</h1>
	<hr>

	{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
	{% assign nowDateInt = nowunix | plus: 0 %}
	{% assign counter = 0 %}

	{% for post in site.posts %}
		{% if post.hidden != true and post.sticky != true and post.lastDate > nowDateInt%}
			{% assign counter = counter | plus:1 %}
				{% if counter < 7 %} 
					{% include postdetail.html %} 
				{% endif %} 
		{% endif %} 
	{% endfor %}

	{% for post in site.posts %}
		{% if post.sticky == true and post.lastDate > nowDateInt %}
			{% include postdetail.html %}
		{% endif %}
	{% endfor %}

	{% include pagination.html current=1 %}
</section>