---
layout: default
title: Edebiyat Yarışmaları, Öykü, Hikaye, Şiir, Masal, Roman, Makale, Destan, Kısa Hikaye
---

<div style="padding: 3%;">
  <h1>{{site.title}}</h1>
  <hr>
  {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
  {% assign nowDateInt = nowunix | plus: 0 %}
  {% for post in paginator.posts %}
  <div>
    <h2><a href="{{site.url}}{{post.url}}">{{ post.title }}</a></h2>
    {% if post.dateHuman %}
    <h3>Son başvuru tarihi: {{post.dateHuman}}</h3>
    {% endif %}
    {% if post.price %}
    <h4>Toplam para ödülü: {{post.price}}</h4>
    {% endif %}

    {% if post.dateHuman %}
    {% if post.lastDate > nowDateInt %}
    <span style="color:green;">Başvuru devam ediyor...</span>
    {% else %}
    <span style="color:red;">Başvuru bitti!</span>
    {% endif %}
    {% endif %}

    {{ post.excerpt }}
  </div>
  <hr>
  {% endfor %}
</div>