---
layout: default
title: "Edebiyat Yarışmaları | Edebiyat Ödülleri"
---

<section class="mt-2 mb-2">
	<h1>{{site.title}}</h1>
	<hr>
	
	{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
	{% assign nowDateInt = nowunix | plus: 0 %}
	{% assign counter = 0 %}

	{% for post in site.posts %}
		{% if post.sticky == true  %}
			{% if post.lastDate > nowDateInt %}
				<article>
					<h2><a href="{{site.url}}{{post.url}}">{{ post.title }}</a></h2>
					<em class="text-success">*Sponsorlu</em>
					<p>🗓️ Yarışmanın son başvuru tarihi: <b>{{post.dateHuman}}</b></p>

					{% if post.price %}
						<p>🏆 Yarışmanın toplam para ödülü: <b>{{post.price}}</b></p>
					{% endif %}

					{% if post.requirements %}
						<p>❗ Yarışmadaki kısıtlar: <b>{{post.requirements}}</b></p>
					{% endif %}

					<p class="text-success">Yarışma başvurusu devam ediyor...</p>
					
					<p>{{ post.excerpt }}</p>		
					
				</article>

				<hr>
			{% endif %}
		{% endif %}
	{% endfor %}

	{% for post in site.posts %}
			
		{% if post.hidden != true and post.sticky != true %}	
			
			{% if post.lastDate > nowDateInt %}
			
				{% assign counter=counter | plus:1 %}
				{% if counter < 7 %}
				
				<article>
					<h2><a href="{{site.url}}{{post.url}}">{{ post.title }}</a></h2>

					<p>🗓️ Yarışmanın son başvuru tarihi: <b>{{post.dateHuman}}</b></p>

					{% if post.price %}
						<p>🏆 Yarışmanın toplam para ödülü: <b>{{post.price}}</b></p>
					{% endif %}

					{% if post.requirements %}
						<p>❗ Yarışmadaki kısıtlar: <b>{{post.requirements}}</b></p>
					{% endif %}

					<p class="text-success">Yarışma başvurusu devam ediyor...</p>
					
					<p>{{ post.excerpt }}</p>

					<script type="application/ld+json">
						{
						  "@context": "https://schema.org",
						  "@type": "LiteraryEvent",
						  "@id": "{{post.url}}",
						  "eventAttendanceMode":"https://schema.org/OfflineEventAttendanceMode",
						  "name": "{{ post.title }}",
						  "url": "{{site.url}}{{post.url}}",
						  "startDate": "{{ post.lastDate | date: "%F" }}",
						  "endDate": "{{ post.lastDate | date: "%F" }}",
						  "image":"{{post.image}}", 
						  "description": "{{ post.excerpt }}",
						  "eventStatus":"https://schema.org/EventScheduled",
						  "location": {
							"@type": "Place",
							"name":"Türkiye'den herkes katılabilir",
							"address": {
							  "@type": "PostalAddress",
							  "addressLocality": "Turkey",
							  "addressRegion": "TR"
							}
						  }
						}
					</script>

				</article>

				<hr>

				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}

	<section class="row mb-5">
		<section class="col-2 d-none d-md-block"></section>
		<section class="col">
			<ul class="pagination">
				<li class="page-item active"><a class="page-link btn-lg" href="{{site.url}}/">1</a></li>
				<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa2/">2</a></li>
				<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa3/">3</a></li>
				<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa4/">4</a></li>
				<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa5/">5</a></li>
			</ul>
		</section>
		<section class="col-2 d-none d-md-block"></section>
	</section>
</section>