---
layout: default
title: "Edebiyat Yarışmaları | Sayfa 3"
description: "Güncel edebiyat yarışmalarının 3. sayfasındasınız."
---

<section class="mt-2 mb-2">
	<h1>Edebiyat Yarışmaları | Sayfa 3</h1>
	<hr>

	{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
	{% assign nowDateInt = nowunix | plus: 0 %}
	{% assign counter = 0 %}

	{% for post in site.posts %}    
		{% if post.hidden != true and post.sticky != true and post.lastDate > nowDateInt%}
			{% assign counter=counter | plus:1 %}

			{% if counter > 13 and  counter < 21  %}		
				{% include postdetail.html %}
			{% endif %}	
		{% endif %}
	{% endfor %}

	<section class="row mb-5">
	  <section class="col-2 d-none d-md-block"></section>
	  <section class="col">
		<ul class="pagination">
			<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/">1</a></li>
			<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa2/">2</a></li>
			<li class="page-item active"><a class="page-link btn-lg" href="{{site.url}}/sayfa3/">3</a></li>
			<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa4/">4</a></li>
			<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa5/">5</a></li>
		</ul>
	  </section>
	  <section class="col-2 d-none d-md-block"></section>
	</section>
</section>