{% if paginator %}

<div class="row mb-5">
  <div class="col-2 d-none d-md-block"></div>
  <div class="col">
    <ul class="pagination">
      {% if paginator.next_page %}
      <li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/page{{paginator.next_page}}">Daha Eski</a>
      </li>
      {% endif %}

      {% if paginator.previous_page %} {% if paginator.page == 2 %}
      <li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/">Daha Yeni</a></li>
      {% else %}
      <li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/page{{paginator.previous_page}}/">Daha
          Yeni</a>
      </li>
      {% endif %}
      {% endif %}
    </ul>
  </div>
  <div class="col-2 d-none d-md-block"></div>
</div>

{% endif %}

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{site.google_analytics}}']);
  _gaq.push(['_trackPageview']);
  (function () {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

{% if page.category != "articles"%}
<script async src="../js/app.js"></script>{% endif %}