<div class="header-container container">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ site.url }}">{{ site.name }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="yarismalarMenu" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Yarışmalar
            </a>
            <div class="dropdown-menu" aria-labelledby="yarismalarMenu">
              <a class="dropdown-item" href="{{ site.url }}/siir-yarismalari">Şiir Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/hikaye-yarismalari">Hikaye/Öykü Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/makale-yarismalari">Makale Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/deneme-yarismalari">Deneme Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/mektup-yarismalari">Mektup Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/masal-yarismalari">Masal Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/kompozisyon-yarismalari">Kompozisyon Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/roman-yarismalari">Roman Yarışmaları</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="aylarMenu" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Aylara Göre
            </a>
            <div class="dropdown-menu" aria-labelledby="aylarMenu">
              <a class="dropdown-item" href="{{ site.url }}/ekim-ayi-2019-yarismalari">Ekim 2019 Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/kasim-ayi-2019-yarismalari">Kasım 2019 Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/aralik-ayi-2019-yarismalari">Aralık 2019 Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/ocak-ayi-2020-edebiyat-yarismalari">Ocak 2020
                Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/subat-ayi-2020-edebiyat-yarismalari">Şubat 2020
                Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/mart-ayi-2020-edebiyat-yarismalari">Mart 2020
                Yarışmaları</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="yaslarMenu" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Yaşa Göre
            </a>
            <div class="dropdown-menu" aria-labelledby="aylarMenu">
              <a class="dropdown-item" href="{{ site.url }}/ortaokul-edebiyat-yarismalari">Ortaokul Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/lise-edebiyat-yarismalari">Lise Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/genel-edebiyat-yarismalari">Genel Yarışmalar</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="digerYarismalar" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Diğer Yarışmalar
            </a>
            <div class="dropdown-menu" aria-labelledby="digerYarismalar">
              <a class="dropdown-item" href="{{ site.url }}/resim-yarismalari">Resim Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/fotograf-yarismalari">Fotograf Yarışmaları</a>
              <a class="dropdown-item" href="{{ site.url }}/senaryo-yarismalari">Senaryo Yarışmaları</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/feed.xml">RSS</a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <div id="search-container">
            <input class="form-control mr-sm-2" type="text" id="search-input" placeholder="ara...">
            <ul class="list-group"  id="results-container" style="position: absolute;"></ul>
          </div>
        </form>

        <div class="pull-right">
          <a class="nav-link" href="https://goo.gl/forms/jGldBsnDncNxoXF83" target="_blank">Yarışmanı Kaydet</a>
        </div>
      </div>
    </nav>
  </header>
</div>

<script src="/search-script.js" type="text/javascript"></script>

<script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '/search.json',
    limit: 5,
    noResultsText: '<li class="list-group-item">Kayıt bulunamadı...</li>',
    searchResultTemplate: '<li class="list-group-item"><a href="{url}" title="{desc}">{title}</a></li>'
  });
</script>