<header class="header-container container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ site.url }}">{{ site.name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <section class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="yarismalarMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Yarışmalar
          </a>
          <section class="dropdown-menu" aria-labelledby="yarismalarMenu">
            <a class="dropdown-item" href="{{ site.url }}/siir-yarismalari/">Şiir Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/hikaye-yarismalari/">Hikaye/Öykü Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/makale-yarismalari/">Makale Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/deneme-yarismalari/">Deneme Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/ani-yarismalari/">Anı Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/mektup-yarismalari/">Mektup Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/masal-yarismalari/">Masal Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/kompozisyon-yarismalari/">Kompozisyon Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/roman-yarismalari/">Roman Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/senaryo-yarismalari/">Senaryo Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/tiyatro-oyunu-yazma-yarismalari/">Tiyatro Oyunu Yazma
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/kitap-dosyasi-yarismalari/">Kitap Dosyası Yarışmaları</a>
          </section>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aylarMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Zamana Göre
          </a>
          <section class="dropdown-menu" aria-labelledby="aylarMenu">
            <a class="dropdown-item" href="{{ site.url }}/subat-2024-yarismalar/">Şubat 2024
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/mart-2024-yarismalar/">Mart 2024
              Yarışmaları</a>
            <section class="dropdown-divider"></section>
            <a class="dropdown-item" href="{{ site.url }}/15-temmuz-yarismalari/">15 Temmuz
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/23-nisan-yarismalari/">23 Nisan
              Yarışmaları</a>
          </section>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="yaslarMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Eğitim, Meslek, Kategori
          </a>
          <section class="dropdown-menu" aria-labelledby="aylarMenu">
            <a class="dropdown-item" href="{{ site.url }}/ilkokul-ogrencileri-edebiyat-yarismalari/">İlkokul
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/ortaokul-edebiyat-yarismalari/">Ortaokul Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/lise-edebiyat-yarismalari/">Lise Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/universite-ogrencileri-edebiyat-yarismalari/">Üniversite
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/genel-edebiyat-yarismalari/">Genel Yarışmalar</a>
            <section class="dropdown-divider"></section>
            <a class="dropdown-item" href="{{ site.url }}/yazarlar-adina-yarismalar">Yazarlar Adına Düzenlenen Yarışmalar</a>
            <a class="dropdown-item" href="{{ site.url }}/ogretmen-yarismalari/">Öğretmenler Arası Yarışmalar</a>
            <a class="dropdown-item" href="{{ site.url }}/hukuk-yarismalari/">Hukuk Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/kadinlar-icin-yarismalar/">Kadınlar İçin Yarışmalar</a>
          </section>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="digerYarismalar" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Diğer
          </a>
          <section class="dropdown-menu" aria-labelledby="digerYarismalar">
            <a class="dropdown-item" href="{{ site.url }}/yarisma-sonuclari/">Yarışma Sonuçları</a>
            <section class="dropdown-divider"></section>
            <a class="dropdown-item" href="{{ site.url }}/para-odullu-yarismalar/">Para Ödüllü Yarışmalar</a>
            <section class="dropdown-divider"></section>
            <a class="dropdown-item" href="{{ site.url }}/edebiyat-odulleri/">Edebiyat Ödülleri</a>
            <section class="dropdown-divider"></section>
            <a class="dropdown-item" href="{{ site.url }}/kitap-okuma-yarismalari/">Kitap Okuma Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/siir-okuma-yarismalari/">Şiir Okuma Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/resim-yarismalari/">Resim Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/karikatur-yarismalari/">Karikatür Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/fotograf-yarismalari/">Fotoğraf Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/beste-yarismalari/">Beste Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/kisa-film-yarismalari/">Kısa Film Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/tasarim-yarismalari/">Tasarım Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/afis-yarismalari/">Afiş Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/muzik-ses-sarki-yarismalari/">Müzik, Ses, Şarkı
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/proje-yarismalari/">Proje Yarışmaları</a>
            <section class="dropdown-divider"></section>
            <a class="dropdown-item" href="{{ site.url }}/gecmis-edebiyat-yarismalari/">Geçmiş Edebiyat
              Yarışmaları</a>
          </section>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="seckilerMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Seçkiler
          </a>
          <section class="dropdown-menu" aria-labelledby="seckilerMenu">
            <a class="dropdown-item" href="{{ site.url }}/anne-siirleri/">Anne Şiirleri Seçkisi</a>
            <a class="dropdown-item" href="{{ site.url }}/bilimkurgu-salgin/">Salgın Bilimkurgu Öyküleri Seçkisi</a>
            <a class="dropdown-item" href="{{ site.url }}/peri-masali/">Peri Masalı Seçkisi</a>
            <a class="dropdown-item" href="{{ site.url }}/sevgili-minimal-oykuleri/">Sevgili Konulu Minimal Öykü
              Seçkisi</a>
          </section>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="eserlerMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Eserler
          </a>
          <section class="dropdown-menu" aria-labelledby="eserlerMenu">
            <a class="dropdown-item" href="{{ site.url }}/hikayeler/">Hikayeler, Öyküler</a>
            <a class="dropdown-item" href="{{ site.url }}/siirler/">Şiirler</a>
            <a class="dropdown-item" href="{{ site.url }}/denemeler/">Denemeler</a>
            <a class="dropdown-item" href="{{ site.url }}/incelemeler/">İncelemeler</a>
          </section>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <section id="search-container">
          <input class="form-control mr-sm-2" type="text" id="search-input" placeholder="ara...">
          <ul class="list-group" id="results-container" style="position: absolute;z-index:150;"></ul>
        </section>
      </form>

      <section class="pull-right">
        <a class="nav-link" href="https://forms.gle/KaERCCeUkMSSZgBDA" target="_blank" rel="nofollow">Yarışmanızı
          Duyuralım</a>
      </section>
    </section>
  </nav>
</header>
