<header class="header-container container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-flex align-items-center" href="{{ site.url }}">
      <img src="{{ site.url }}/images/edebiyat-yarismalari-logo-icon.png" alt="" width="40" height="40" class="mr-2">
      {{ site.name }}
    </a>
    <button id="theme-toggle" type="button" aria-label="Karanlık/aydınlık temayı değiştir" title="Karanlık/aydınlık tema">🌙</button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <section class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/siir-yarismalari/">Şiir Yarışmaları</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/hikaye-yarismalari/">Hikaye/Öykü Yarışmaları</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/para-odullu-yarismalar/">Para Ödüllü Yarışmalar</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="yarismalarMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Yarışmalar
          </a>
          <section class="dropdown-menu" aria-labelledby="yarismalarMenu">
            <a class="dropdown-item" href="{{ site.url }}/makale-yarismalari/">Makale Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/deneme-yarismalari/">Deneme Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/ani-yarismalari/">Anı Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/mektup-yarismalari/">Mektup Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/masal-yarismalari/">Masal Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/kompozisyon-yarismalari/">Kompozisyon Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/roman-yarismalari/">Roman Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/senaryo-yarismalari/">Senaryo Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/tiyatro-oyunu-yazma-yarismalari/">Tiyatro Oyunu Yazma
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/kitap-dosyasi-yarismalari/">Kitap Dosyası Yarışmaları</a>
          </section>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aylarMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Zamana Göre
          </a>
          <section class="dropdown-menu" aria-labelledby="aylarMenu">
            <a class="dropdown-item" href="{{ site.url }}/temmuz-2026-yarismalar/">Temmuz 2026
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/agustos-2026-yarismalar/">Ağustos 2026
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/eylul-2026-yarismalar/">Eylül 2026
              Yarışmaları</a>
            <section class="dropdown-divider"></section>
            <a class="dropdown-item" href="{{ site.url }}/15-temmuz-yarismalari/">15 Temmuz
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/23-nisan-yarismalari/">23 Nisan
              Yarışmaları</a>
          </section>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="yaslarMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Kimler Katılabilir?
          </a>
          <section class="dropdown-menu" aria-labelledby="aylarMenu">
            <a class="dropdown-item" href="{{ site.url }}/ilkokul-ogrencileri-edebiyat-yarismalari/">İlkokul
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/ortaokul-edebiyat-yarismalari/">Ortaokul Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/lise-edebiyat-yarismalari/">Lise Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/universite-ogrencileri-edebiyat-yarismalari/">Üniversite
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/genel-edebiyat-yarismalari/">Genel Yarışmalar</a>
            <section class="dropdown-divider"></section>
            <a class="dropdown-item" href="{{ site.url }}/ogretmen-yarismalari/">Öğretmenler Arası Yarışmalar</a>
            <a class="dropdown-item" href="{{ site.url }}/hukuk-yarismalari/">Hukuk Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/kadinlar-icin-yarismalar/">Kadınlar İçin Yarışmalar</a>
          </section>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="digerYarismalar" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Diğer
          </a>
          <section class="dropdown-menu" aria-labelledby="digerYarismalar">
            <a class="dropdown-item" href="{{ site.url }}/edebiyat-odulleri/">Edebiyat Ödülleri</a>
            <a class="dropdown-item" href="{{ site.url }}/kitap-okuma-yarismalari/">Kitap Okuma Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/yazarlar-adina-yarismalar">Yazarlar Adına Düzenlenen Yarışmalar</a>
            <a class="dropdown-item" href="{{ site.url }}/resim-yarismalari/">Resim Yarışmaları</a>
            <section class="dropdown-divider"></section>
            <a class="dropdown-item" href="{{ site.url }}/gecmis-edebiyat-yarismalari/">Geçmiş Edebiyat
              Yarışmaları</a>
            <a class="dropdown-item" href="{{ site.url }}/tum-kategoriler/">Tüm Kategoriler</a>
          </section>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="tekrarlananMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Tekrarlanan Yarışmalar
          </a>
          <section class="dropdown-menu" aria-labelledby="tekrarlananMenu">
            <a class="dropdown-item" href="{{ site.url }}/her-yil-tekrarlanan-yarismalar/">Genel</a>
            <a class="dropdown-item" href="{{ site.url }}/her-yil-tekrarlanan-oyku-yarismalari/">Öykü</a>
          </section>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://grikalemler.com.tr/?ref=edebiyatyarismalari.com" target="_blank" id="griKalemler" role="button"
            aria-haspopup="true" aria-expanded="false">
            Gri Kalemler
          </a>
        </li>
      </ul>

      <section class="pull-right">
        <a class="nav-link" href="https://forms.gle/KaERCCeUkMSSZgBDA" target="_blank" rel="nofollow">Yarışmanızı
          Duyuralım</a>
      </section>
    </section>
  </nav>
</header>
