{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign nowDateInt = nowunix | plus: 0 %}

<article>

  <h2><a href="{% if post.referenceUrl %}{{ post.referenceUrl }}{% else %}{{site.url}}{{post.url}}{% endif %}"
    {% if post.referenceUrl %}target="_blank"{% endif %}>{{ post.title }}</a></h2>

  {% if post.sticky %}
  <em class="text-success">*Sponsorlu</em>
  {% endif %}

  <p>🗓️ Yarışmanın son başvuru tarihi: <b>{{post.dateHuman}}</b></p>

  {% if post.totalPrize %}
  <p>🏆 Yarışmanın toplam para ödülü: <b>{{post.totalPrize}}</b></p>
  {% endif %}

  {% if post.requirements %}
  <p>❗ Yarışmadaki kısıtlar: <b>{{post.requirements}}</b></p>
  {% endif %}

  {% if post.lastDate > nowDateInt %}
  <p class="text-success">Yarışma başvurusu devam ediyor...</p>
  {% else %}
  <p class="text-danger">Yarışma başvurusu bitti!</p>
  {% endif %}

  <p>{{ post.excerpt }}</p>

</article>

<hr>