---
layout: default
title: "Edebiyat Yarışmaları | Sayfa 4"
description: "Güncel edebiyat yarışmalarının 4. sayfasındasınız."
---

<section class="p-2">
	<h1>Edebiyat Yarışmaları | Sayfa 4</h1>
	<hr>

	{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
	{% assign nowDateInt = nowunix | plus: 0 %}
	{% assign counter = 0 %}

	{% for post in site.posts %}    
		{% if post.hidden != true and post.sticky != true and post.lastDate > nowDateInt%}
			{% assign counter=counter | plus:1 %}

			{% if counter > 20 and  counter < 28  %}		
				{% include postdetail.html %}
			{% endif %}	
		{% endif %}
	{% endfor %}

	{% include pagination.html current=4 %}
</section>