---
layout: default
title: "Edebiyat Yarışmaları | Sayfa 4"
description: "Güncel edebiyat yarışmalarının 4. sayfasındasınız."
---

<section class="mt-5 mb-5">
	<h1>{{site.title}}</h1>
	<hr>

	<section>
		<h2>
			<a href="{{site.url}}/anne-siirleri-siir-yarismasi">Anne Şiirleri Şiir Yarışması</a>
		</h2>
		<p><small><em>Sponsorlu</em></small></p>

		<p>🗓️ Yarışmanın son başvuru tarihi: <b>31 Mayıs 2020</b></p>
		<p>❗ Yarışmadaki kısıtlar: <b>Yarışmaya 18 yaşını doldurmuş herkes katılabilir.</b></p>
		<section>
			<p class="text-success">Yarışma başvurusu devam ediyor...</p>
		</section>

		<p>Her ay farklı bir dalda yarışma düzenleme serüvenine başlıyoruz. İlk yarışmamız Anneler günü vesilesiyle
			<strong>Anne Şiirleri</strong> şiir yarışması olacaktır</p>
	</section>
	<hr>

	{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
	{% assign nowDateInt = nowunix | plus: 0 %}
	{% assign counter = 0 %}

	{% for post in site.posts %}
	{% if post.lastDate > nowDateInt %}
	{% if post.hidden != true  %}

	{% assign counter=counter | plus:1 %}
	{% if counter > 21  %}
	{% if counter < 29  %}

	<section>
		<h2><a href="{{site.url}}{{post.url}}">{{ post.title }}</a></h2>

		<p>🗓️ Yarışmanın son başvuru tarihi: <b>{{post.dateHuman}}</b></p>

		{% if post.price %}
		<p>🏆 Yarışmanın toplam para ödülü: <b>{{post.price}}</b></p>
		{% endif %}

		{% if post.requirements %}
		<p>❗ Yarışmadaki kısıtlar: <b>{{post.requirements}}</b></p>
		{% endif %}

		<section>
			<p class="text-success">Yarışma başvurusu devam ediyor...</p>
		</section>

		{{ post.excerpt }}
	</section>

	<hr>

	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	{% endfor %}

	<section class="row mb-5">
		<section class="col-2 d-none d-md-block"></section>
		<section class="col">
			<ul class="pagination">
				<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/">1</a></li>
				<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa2/">2</a></li>
				<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa3/">3</a></li>
				<li class="page-item active"><a class="page-link btn-lg" href="{{site.url}}/sayfa4/">4</a>
				</li>
				<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa5/">5</a></li>
			</ul>
		</section>
		<section class="col-2 d-none d-md-block"></section>
	</section>
</section>