---
layout: default
title: Mektup Yarışmaları
---
<div style="padding: 3%;">
	<h1>{{page.title}}</h1>
	<hr>
	{% for post in site.posts %}
	{% if post.tags contains 'mektup yarışması'  %}
	<div>
		<h3><a href="{{site.url}}{{post.url}}">{{ post.title }}</a></h3>
		{% if post.dateHuman %}
		<h4>Son başvuru tarihi {{post.dateHuman}}</h4>
		{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
		{% assign nowDateInt = nowunix | plus: 0 %}
		{% if post.lastDate > nowDateInt %}
		<span style="color:green;">Başvuru devam ediyor...</span>
		{% else %}
		<span style="color:red;">Başvuru bitti!</span>
		{% endif %}
		{% endif %}
		{{ post.excerpt }}
	</div>
	<hr>
	{% endif %}
	{% endfor %}
</div>