---
layout: default
title: "Sayfa 5"
description: "Güncel edebiyat yarışmalarının 5. sayfasındasınız."
---

<section class="p-2">
	<h1>Güncel Edebiyat Yarışmaları &ndash; Sayfa 5</h1>
	<hr>

	{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
	{% assign nowDateInt = nowunix | plus: 0 %}
	{% assign counter = 0 %}

	{% for post in site.posts %}    
		{% if post.hidden != true and post.sticky != true and post.lastDate > nowDateInt%}
			{% assign counter=counter | plus:1 %}

			{% if counter > 27 and  counter < 35  %}		
				{% include postdetail.html %}
			{% endif %}	
		{% endif %}
	{% endfor %}

	{% include pagination.html current=5 %}
</section>