---
layout: default
---

{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign nowDateInt = nowunix | plus: 0 %}
{% assign counter = 0 %}

<section class="mt-2 mb-2">
    <h1>{{page.headline}}</h1>

    <section class="row align-items-center">
        {% if page.image %}
        <section class="col-md-6 col-sm-12 justify-content-center">
            <span>{{page.subline}}</span>
        </section>
        <section class="col-md-6 col-sm-12">
            <img src="{{page.image}}" alt="{{page.title}}" loading="lazy" />
        </section>
        {% else %}
        <section class="col justify-content-center">
            {% if page.subline %}
            <span>{{page.subline}}</span>
            {% endif %}
        </section>
        {% endif %}
    </section>
    {% if page.key %}
    <hr>
    {% endif %}

    {% for post in site.posts %}
    {% if post.lastDate > nowDateInt %}
    {% if post.tags contains page.key %}

    {% assign counter=counter | plus:1 %}

    <section>
        <h2><a href="{{site.url}}{{post.url}}">{{ post.title }}</a></h2>

        {% if post.dateHuman %}
        <p>🗓️ Yarışmanın son başvuru tarihi: <b>{{post.dateHuman}}</b></p>
        {% endif %}

        {% if post.price %}
        <p>🏆 Yarışmanın toplam para ödülü: <b>{{post.price}}</b></p>
        {% endif %}

        {% if post.requirements %}
        <p>❗ Yarışmadaki kısıtlar: <b>{{post.requirements}}</b></p>
        {% endif %}

        <p class="text-success">Yarışma başvurusu devam ediyor...</p>

        <p>{{ post.excerpt }}</p>

        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "LiteraryEvent",
              "@id": "{{post.url}}",
              "eventAttendanceMode":"https://schema.org/OfflineEventAttendanceMode",
              "name": "{{ post.title }}",
              "url": "{{site.url}}{{post.url}}",
              "startDate": "{{ post.lastDate | date: "%F" }}",
              "endDate": "{{ post.lastDate | date: "%F" }}",
              "image":"{{post.image}}", 
              "description": "{{ post.excerpt }}",
              "eventStatus":"https://schema.org/EventScheduled",
              "location": {
                "@type": "Place",
                "name":"Türkiye'den herkes katılabilir",
                "address": {
                  "@type": "PostalAddress",
                  "addressLocality": "Turkey",
                  "addressRegion": "TR"
                }
              }
            }
        </script>

    </section>
    <hr>

    {% endif %}
    {% endif %}
    {% endfor %}

    <section class="post">
        {{ content }}
    </section>


    {% if counter == 0 %}
    <p class="text-danger">Bu listede, hali hazırda başvuru bekleyen herhangi bir <strong>{{page.title}}</strong>
        bulunmamaktadır.
        Aşağıdaki linkten geçmiş yarışmalara ve menüden ilgilendiğiniz diğer yarışmalara bakabilirsiniz.</p>
    {% endif %}

    <a href="{{site.url}}/gecmis-edebiyat-yarismalari/" class="nav-link">
        Geçmiş Edebiyat Yarışmaları
    </a>

</section>