---
layout: compress
---
<!DOCTYPE html>
<html lang="tr">

<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}
  <section class="container">
    <section class="row justify-content-md-center">
        <main>
          {{ content }}
        </main>
    </section>
    {% include body-footer.html %}
  </section>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.url }}/css/theme.css">

  <script src="/js/nav.js" defer></script>

  <script data-ad-client="ca-pub-3956685798615725" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <footer class="bg-light">
    {% include footer.html %}
  </footer>

  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "name" : "Edebiyat Yarışmaları",
     "url" : "https://edebiyatyarismalari.com/",
     "sameAs" : [
       "https://twitter.com/yarismaedebiyat",
       "https://www.facebook.com/yarismaedebiyat/",
       "https://www.instagram.com/edebiyatyarisma/"
       ],
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Ankara",
        "addressRegion": "TR",
        "postalCode": "06810",
        "addressCountry": "TR"
      },
      "description": "Şiir Yarışması, Öykü Yarışması, Kitap Okuma Yarışması, Resim Yarışması, Senaryo Yarışması gibi tüm edebiyat yarışmalarını takip edebilirsiniz."
    }
    </script>

  <script async id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/ac6dc70b4478502afbb68305c/95444d640d01fdb514b577b3e.js");</script>
  <style>
    img {
      max-width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .author-avatar {
      width: 220px;
      height: 220px;
      object-fit: cover;
    }
  </style>

  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W25RZB6" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
</body>

</html>
