---
layout: compress
---
<!DOCTYPE html>
<html lang="tr">

<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}
  <section class="container" style="content-visibility:auto;">
    <section class="row">
      <section class="col">
        <main>
          {{ content }}
        </main>
      </section>
    </section>
    {% include body-footer.html %}
  </section>

  <link async rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script data-ad-client="ca-pub-3956685798615725" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <footer class="bg-light">
    {% include footer.html %}
  </footer>

  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "name" : "Edebiyat Yarışmaları",
     "url" : "https://edebiyatyarismalari.com/",
     "sameAs" : [
       "https://twitter.com/yarismaedebiyat",
       "https://www.facebook.com/yarismaedebiyat/",
       "https://www.instagram.com/edebiyatyarisma/"
       ],
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Ankara",
        "addressRegion": "TR",
        "postalCode": "06810",
        "addressCountry": "TR"
      },
      "description": "Şiir Yarışması, Öykü Yarışması, Kitap Okuma Yarışması, Resim Yarışması, Senaryo Yarışması gibi tüm edebiyat yarışmalarını takip edebilirsiniz."
    }
    </script>

  <script async id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/ac6dc70b4478502afbb68305c/95444d640d01fdb514b577b3e.js");</script>
  <style>
    img {
      max-width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>

  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W25RZB6" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
</body>

</html>