---
layout: default
---

{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign nowDateInt = nowunix | plus: 0 %}

<section class="mt-2 mb-2">
    <h1>{{page.headline}}</h1>
    {% if page.subline %}
    <p>{{page.subline}}</p>
    {% endif %}

    {% if page.key %}
    <hr>
    {% endif %}

    {% for post in site.posts %}
      {% if post.lastDate > nowDateInt %}
        {% if post.price %}
          {% include postdetail.html %}
        {% endif %}
      {% endif %}
    {% endfor %}
</section>