---
layout: default
---

{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign nowDateInt = nowunix | plus: 0 %}

<section class="p-2">
    <h1>{% include dynamic-year.html text=page.headline %}</h1>
    {% if page.subline %}
    <p>{% include dynamic-year.html text=page.subline %}</p>
    {% endif %}

    {% if page.key %}
    <hr>
    {% endif %}

    {% for post in site.posts %}
      {% if post.lastDate > nowDateInt %}
        {% if post.price %}
          {% include postdetail.html %}
        {% endif %}
      {% endif %}
    {% endfor %}
</section>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "url": "{{site.url}}{{page.url}}",
  "name": {{ page.title | jsonify }},
  "description": {{ page.description | jsonify }},
  "publisher": {
    "@type": "Organization",
    "name": "Edebiyat Yarışmaları",
    "logo": "https://edebiyatyarismalari.com/images/icons/icon-384x384.png"
  }
}
</script>