---
layout: default
---
<section class="p-2">
	<h1>{% include dynamic-year.html text=page.title %}</h1>
	<hr>

	<section class="col justify-content-center">
		<span>{% include dynamic-year.html text=page.subline %}</span>
	</section>

	{% for post in site.posts %}
		{% if post.tags contains page.key %}
			{% include postdetail.html %}
		{% endif %}
	{% endfor %}
</section>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "url": "{{site.url}}{{page.url}}",
  "name": {{ page.title | jsonify }},
  "description": {{ page.description | jsonify }},
  "publisher": {
    "@type": "Organization",
    "name": "Edebiyat Yarışmaları",
    "logo": "https://edebiyatyarismalari.com/images/icons/icon-384x384.png"
  }
}
</script>