---
layout: default
---
<section style="padding: 3%;">
	<h1>{{page.title}}</h1>
	<hr>

	{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
	{% assign nowDateInt = nowunix | plus: 0 %}

	{% for post in site.posts %}
		{% if post.tags contains page.key %}
		<section>
			<h2><a href="{{site.url}}{{post.url}}">{{ post.title }}</a></h2>
			{% if post.dateHuman %}
				<h3>Son başvuru tarihi: {{post.dateHuman}}</h3>
			{% endif %}
			{% if post.price %}
				<h4>Toplam para ödülü: {{post.price}}</h4>
			{% endif %}

			{% if post.dateHuman %}
				{% if post.lastDate > nowDateInt %}
					<span style="color:green;">Yarışma başvurusu devam ediyor...</span>
				{% else %}
					<span style="color:red;">Yarışma başvurusu bitti!</span>
				{% endif %}
			{% endif %}

			{{ post.excerpt }}
		</section>
		<hr>
		{% endif %}
	{% endfor %}
</section>