---
layout: default
---
<section class="mt-2 mb-2">
	<h1>{{page.title}}</h1>
	<hr>

	{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
	{% assign nowDateInt = nowunix | plus: 0 %}

	{% for post in site.posts %}
	{% if post.tags contains page.key %}
	<section>
		<h2><a href="{{site.url}}{{post.url}}">{{ post.title }}</a></h2>

		{% if post.dateHuman %}
		<p>🗓️ Yarışmanın son başvuru tarihi: <b>{{post.dateHuman}}</b></p>
		{% endif %}

		{% if post.price %}
		<p>🏆 Yarışmanın toplam para ödülü: <b>{{post.price}}</b></p>
		{% endif %}

		{% if post.requirements %}
		<p>❗ Yarışmadaki kısıtlar: <b>{{post.requirements}}</b></p>
		{% endif %}

		{% if post.dateHuman %}
		{% if post.lastDate > nowDateInt %}
		<p class="text-success">Yarışma başvurusu devam ediyor...</p>
		{% else %}
		<p class="text-danger">Yarışma başvurusu bitti!</p>
		{% endif %}
		{% endif %}

		<p>{{ post.excerpt }}</p>

		<script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "LiteraryEvent",
              "@id": "{{post.url}}",
              "eventAttendanceMode":"https://schema.org/OfflineEventAttendanceMode",
              "name": "{{ post.title }}",
              "url": "{{site.url}}{{post.url}}",
              "startDate": "{{ post.lastDate | date: "%F" }}",
              "endDate": "{{ post.lastDate | date: "%F" }}",
              "image":"{{post.image}}", 
              "description": "{{ post.excerpt }}",
              "eventStatus":"https://schema.org/EventScheduled",
              "location": {
                "@type": "Place",
                "name":"Türkiye'den herkes katılabilir",
                "address": {
                  "@type": "PostalAddress",
                  "addressLocality": "Turkey",
                  "addressRegion": "TR"
                }
              }
            }
        </script>
	</section>
	<hr>
	{% endif %}
	{% endfor %}
</section>