---
layout: default
---
<div style="padding: 3%;">
  <h1>{{ page.title }}</h1>
  <hr />

  {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
  {% assign nowDateInt = nowunix | plus: 0 %}
  {% if page.dateHuman %}
    <h2>Son başvuru tarihi: {{page.dateHuman}}</h2>
  {% endif %}

  {% if page.price %}
    <h4>Toplam para ödülü: {{page.price}}</h4>
  {% endif %}
  {% if page.comTopic %}
    <h5>Konu: {{page.comTopic}}</h5>
  {% endif %}
  {% if page.dateHuman %}
  {% if page.lastDate > nowDateInt %}
    <span style="color:green;">Başvuru devam ediyor...</span>
  {% else %}
    <span style="color:red;">Başvuru bitti!</span>
  {% endif %}
  {% endif %}

  {% if page.image %}
  <div style="text-align:center; margin-bottom: 3%;">
    <img style="max-height:720px;max-width: 90%;" src="{{page.image}}" alt="{{ page.title }}" />
  </div>
  {% endif %}

  <div class="post">
    {{ content }}
  </div>

  {% if site.disqus_shortname %}
  {% include disqus_comments.html %}
  {% endif %}
</div>