---
layout: default
title: "Edebiyat Yarışmaları | Sayfa 2"
description: "Güncel edebiyat yarışmalarının 2. sayfasındasınız."
---

<section class="p-2">
	<h1>Edebiyat Yarışmaları | Sayfa 2</h1>
	<hr>
	
	{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
	{% assign nowDateInt = nowunix | plus: 0 %}
	{% assign counter = 0 %}

	{% for post in site.posts %}    
		{% if post.hidden != true and post.sticky != true and post.lastDate > nowDateInt%}
			{% assign counter=counter | plus:1 %}

			{% if counter > 6 and  counter < 14  %}		
				{% include postdetail.html %}
			{% endif %}	
		{% endif %}
	{% endfor %}

	{% include pagination.html current=2 %}
</section>