---
layout: default
title: "Edebiyat Yarışmaları | Sayfa 2"
description: "Güncel edebiyat yarışmalarının 2. sayfasındasınız."
---

<section class="mt-5 mb-5">
	<h1>Edebiyat Yarışmaları | Sayfa 2</h1>
	<hr>
	
	{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
	{% assign nowDateInt = nowunix | plus: 0 %}
	{% assign counter = 0 %}

	{% for post in site.posts %}
    
	{% if post.hidden != true and post.sticky != true %}
	{% if post.lastDate > nowDateInt %}
	
	
	{% assign counter=counter | plus:1 %}

	{% if counter > 6  %}
	{% if counter < 14  %}
		
	<section>
		<h2><a href="{{site.url}}{{post.url}}">{{ post.title }}</a></h2>

		<p>🗓️ Yarışmanın son başvuru tarihi: <b>{{post.dateHuman}}</b></p>
	
		{% if post.price %}
		<p>🏆 Yarışmanın toplam para ödülü: <b>{{post.price}}</b></p>
		{% endif %}

		{% if post.requirements %}
		<p>❗ Yarışmadaki kısıtlar: <b>{{post.requirements}}</b></p>
		{% endif %}

		<section>
			<p class="text-success">Yarışma başvurusu devam ediyor...</p>
		</section>

		{{ post.excerpt }}
	</section>
	
	<hr>

    {% endif %}
    {% endif %}
	{% endif %}
	{% endif %}
	{% endfor %}

	<section class="row mb-5">
	  <section class="col-2 d-none d-md-block"></section>
	  <section class="col">
		<ul class="pagination">
			<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/">1</a></li>
			<li class="page-item active"><a class="page-link btn-lg" href="{{site.url}}/sayfa2/">2</a></li>
			<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa3/">3</a></li>
			<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa4/">4</a></li>
			<li class="page-item"><a class="page-link btn-lg" href="{{site.url}}/sayfa5/">5</a></li>
		</ul>
	  </section>
	  <section class="col-2 d-none d-md-block"></section>
	</section>
</section>